ACCCONFIGROOTPW=secret
ACCDATAROOTPW=secret
ADMIN_LDAP_PASSWORD=secret
CUSTOMERID=acme
# Fusiondirectory tiredofit version
VIRTUAL_HOST=fd.demo.fusioniam.org
#VIRTUAL_NETWORK=fusioniam_default
VIRTUAL_PORT=80
# - LETSENCRYPT_HOST=fusiondirectory.example.org
# - LETSENCRYPT_EMAIL=yourname@example.org

# - ZABBIX_HOSTNAME=fusioniam-fusiondirectory
ENABLE_ZABBIX=FALSE
ENABLE_ARGONAUT=FALSE
PLUGIN_AUDIT=TRUE
PLUGIN_DSA=TRUE
PLUGIN_LDAPDUMP=TRUE
PLUGIN_LDAPMANAGER=TRUE
PLUGIN_MAIL=TRUE
PLUGIN_PERSONAL=TRUE
PLUGIN_PPOLICY=TRUE
PLUGIN_SSH=TRUE
PLUGIN_SUDO=TRUE
PLUGIN_WEBSERVICE=TRUE

LDAP1_HOST=openldap-fusiondirectory
#LDAP1_BASE_DN=dc=example,dc=org
#LDAP1_BASE_DN=dc=example,dc=org
LDAP1_ADMIN_DN=cn=fd
#LDAP1_ADMIN_DN=cn=admin,dc=example,dc=org
LDAP1_ADMIN_PASS=secret
LDAP1_PORT=33389
LDAP1_NAME=Production

FUSIONDIRECTORY_HOST=fusioniam-fusiondirectory
FUSIONDIRECTORY_LDAP_PASSWORD=secret
FUSIONDIRECTORY_LDAP_USERNAME=fd
FUSIONDIRECTORY_NAME=fd
FUSIONDIRECTORY_PORT=80

LSC_LDAP_PASSWORD=secret
LSC_LDAP_USERNAME=lsc
LDAP_HOST=fusioniam-directory-server
LDAP_PORT=33389
LEMONLDAP2_LDAP_PASSWORD=secret
LEMONLDAP2_LDAP_USERNAME=lemonldapng
LEMONLDAP2_OIDCPRIV=/etc/lemonldap-ng-keys/oidc.key
LEMONLDAP2_OIDCPUB=/etc/lemonldap-ng-keys/oidc_pub.key
LEMONLDAP2_SAMLPRIV=/etc/lemonldap-ng-keys/saml.key
LEMONLDAP2_SAMLPUB=/etc/lemonldap-ng-keys/saml.pem
LEMONLDAP2_UNPROTECT_PHOTO_URL=1
LEMONLDAP2_UNPROTECT_PROFILE_URL=0
POSTGRES_HOST=fusioniam-database
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
POSTGRES_USER=lemonldapng
SERVICEDESK_HOST=fusioniam-service-desk
#SERVICEDESK_HOST=10.0.2.2
SERVICEDESK_LDAP_PASSWORD=secret
SERVICEDESK_LDAP_USERNAME=sd
SERVICEDESK_NAME=sd
SERVICEDESK_PORT=80
#SERVICEDESK_PORT=8082
SSO_DOMAIN=demo.fusioniam.org
WHITEPAGES_HOST=fusioniam-white-pages-nginx
WHITEPAGES_LDAP_PASSWORD=secret
WHITEPAGES_LDAP_USERNAME=wp
WHITEPAGES_NAME=wp
WHITEPAGES_PORT=8080
