ACCCONFIGROOTPW=secret
ACCDATAROOTPW=secret
ADMIN_LDAP_PASSWORD=secret
CUSTOMERID=acme
FUSIONDIRECTORY_HOST=10.0.2.2
FUSIONDIRECTORY_LDAP_PASSWORD=secret
FUSIONDIRECTORY_LDAP_USERNAME=fd
FUSIONDIRECTORY_NAME=fd
FUSIONDIRECTORY_PORT=8081
LSC_LDAP_PASSWORD=secret
LSC_LDAP_USERNAME=lsc
LDAP_HOST=10.0.2.2
LDAP_PORT=33389
LEMONLDAP2_LDAP_PASSWORD=secret
LEMONLDAP2_LDAP_USERNAME=lemonldapng
LEMONLDAP2_OIDCPRIV=/etc/lemonldap-ng-keys/oidc.key
LEMONLDAP2_OIDCPUB=/etc/lemonldap-ng-keys/oidc_pub.key
LEMONLDAP2_SAMLPRIV=/etc/lemonldap-ng-keys/saml.key
LEMONLDAP2_SAMLPUB=/etc/lemonldap-ng-keys/saml.pem
POSTGRES_HOST=10.0.2.2
POSTGRES_PASSWORD=secret
POSTGRES_PORT=33432
POSTGRES_USER=lemonldapng
SERVICEDESK_HOST=10.0.2.2
SERVICEDESK_LDAP_PASSWORD=secret
SERVICEDESK_LDAP_USERNAME=sd
SERVICEDESK_NAME=sd
SERVICEDESK_PORT=8082
SSO_DOMAIN=demo.fusioniam.org
WHITEPAGES_HOST=10.0.2.2
WHITEPAGES_LDAP_PASSWORD=secret
WHITEPAGES_LDAP_USERNAME=wp
WHITEPAGES_NAME=wp
WHITEPAGES_PORT=8083
